# Byte‑compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache/
nose2-junit.xml
coverage.xml

# Virtual environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Environment variables and local settings
.env
*.env
*.local

# SQLite databases
*.sqlite3
*.db

# Alembic migration cache
migrations/__pycache__/

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Celery beat schedule
celerybeat-schedule

media