fastapi
fastapi-mail
uvicorn[standard]
jinja2
python-dotenv
SQLAlchemy
alembic
pydantic
pydantic-settings
passlib[bcrypt]
bcrypt
python-multipart
email-validator   
pytest
pytest-cov     
python-jose[cryptography] 
httpx
redis
psycopg2-binary
pytz