{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header-top">
            <img src="#" alt="Logo de gov.co" class="logo-gov">
        </div>
        <div class="header-bottom">
            <img src="#" alt="Logo del sistema integrado de registro, control y acceso" class="logo-sirca">
            <img src="#" alt="Logo del servicio nacional de aprendizaje" class="logo-sena">
        </div>
    </header>
    
</body>
</html>